body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px);
  color: white;
}


.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tall {
  height: 70vh;
}

.wide {
  width: 85vw;
}


.bordered {
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 0;
  margin: 1%;
}

.extra-bordered {
  border-collapse: collapse;
  border: 10px solid lightgreen;
  border-radius: 1%;
  margin: 3%;
  padding: 4%;
}

pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre-wrap;
}
