html {
  background: url("/Math_equations_1366x768.jpg") no-repeat center fixed;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tall {
  height: 70vh;
}

.wide {
  width: 85vw;
}


.bordered {
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 0;
  margin: 1%;
}

.extra-bordered {
  border-collapse: collapse;
  border: 10px solid lightgreen;
  border-radius: 1%;
  margin: 3%;
  padding: 4%;
}

.cover {
  background-color: lightsteelblue;
  opacity: 0.8;
  font-size: x-large;
}

.cover-outer {
  background-color: wheat;
  opacity: 0.8;
}


pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre-wrap;
}
